@import "tailwindcss";

:root {
  /******************Colors *******************************/

  /*********************Padding ***********************/
  --app-padding-inline: 5.3rem;

  /*****************Html tags *************************/
}

@theme inline {
  --font-gotham: var(--font-gotham);
}

@layer utilities {
  .main-padding {
    padding-inline: var(--app-padding-inline);
  }

  .inner-container {
    @apply mx-auto;
    max-width: 1440px;
  }

  /* Gradient Alfred Black Blue */
  .bg-alfred-black-blue {
    background: linear-gradient(
      135deg,
      #111e3e 0%,
      #111e3e 0.01%,
      #020d20 100%
    );
  }
}
