@import "tailwindcss";

:root {
  /******************Colors *******************************/
  --color-accent-blue: #006fee;
  --color-pagination-blue: #0060ff;

  /*********************Padding ***********************/
  --app-padding-inline: 2rem;

  /*****************Html tags *************************/
}

@theme inline {
  /******************Fonts *******************************/
  --font-serif: var(--font-gotham);
  --font-sans: var(--font-inter);

  /******************Colors *******************************/
  --color-accent-blue: var(--color-accent-blue);
  --color-pagination-blue: var(--color-pagination-blue);
}

@layer base {
  body {
    @apply font-sans;
    scrollbar-gutter: stable;
  }
}

@layer utilities {
  .main-padding {
    padding-inline: var(--app-padding-inline);
  }

  .inner-container {
    @apply mx-auto w-full;
    max-width: 1750px;
  }

  .text-gradient-sky {
    background: linear-gradient(90deg, #006aff 0%, #00f9ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  /* Gradient Alfred Black Blue */
  .bg-alfred-black-blue {
    background: linear-gradient(
      135deg,
      #111e3e 0%,
      #111e3e 0.01%,
      #020d20 100%
    );
  }

  .bg-search-button {
    background: linear-gradient(
      90deg,
      rgba(0, 96, 255, 0.8) 0%,
      rgba(0, 255, 231, 0.8) 100%
    );
  }

  .placeholder\:text-accent-blue::placeholder {
    color: var(--color-accent-blue);
  }

  .input-box-shadow {
    box-shadow: 0px 1.82941px 3.65882px rgba(0, 0, 0, 0.05);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media (width >= 40rem) {
  :root {
    /*********************Padding ***********************/
    --app-padding-inline: 5.3rem;
  }
}
